{% extends "base.html" %} {% block content %}
<h1 class="text-3xl font-bold underline">Mate-Light Pixel Wall</h1>
<div id="matelightContainer"></div>
<div class="colorPicker">
  <span>Select color:</span>
  <input type="color" />
</div>

<script>
  function sendPixel(x, y, pixel) {
    fetch(`/pixel/${x}/${y}/`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      // body: JSON.stringify(pixel),
      body: JSON.stringify({ r: 0, g: 255, b: 0, a: 0 }),
    });
  }

  const container = document.getElementById("matelightContainer");
  Array.from({ length: 16 }, (value, index) => index).forEach((y) =>
    Array.from({ length: 40 }, (value, index) => index).forEach((x) => {
      const pixelElem = document.createElement("div");
      pixelElem.addEventListener("click", () => sendPixel(x, y));
      pixelElem.style.backgroundColor = "blue";
      pixelElem.style.height = "1rem";
      pixelElem.style.width = "1rem";

      container.appendChild(pixelElem);
    })
  );
</script>
{% endblock content %}
